<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="..\Packages" />
    <add key="DefaultPushSource" value="http://localhost:8080/guestAuth/app/nuget/v1/FeedService.svc/packages" />
  </config>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Local TeamCity" value="http://localhost:8080/httpAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
  <activePackageSource>
    <add key="Local TeamCity" value="http://localhost:8080/httpAuth/app/nuget/v1/FeedService.svc" />
  </activePackageSource>
  <packageSourceCredentials>
    <Local>
      <Username>admin</Username>
      <Password>Truen0Rth</Password>
    </Local>
  </packageSourceCredentials>
</configuration>